
body {
  background: #ffcccc;
}

header {
  border: 3px solid #cc0000;
  margin: 20px;
  padding: 3px;
  text-align: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Gardener%27s_Cottage_in_West_Princes_Street_Gardens.jpg");
  background-size: cover;
  background-position: center;

}

header.jumbotron h1 {
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  font-weight: bold;
}

header.jumbotron h3 {
  font-family: 'Chilanka', cursive;
  color: #ffffff;
  font-weight: bold;
}

section {
  background: #ffdddd;
  font-family: 'Chilanka', cursive;
}

section .row img {
  border: 3px solid #cc0000;
  margin: 10px 0 10px;
  padding: 0px;
  width: 100%;
  max-width: 200px;
}

section h4 {
  color: red;
}

footer {
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  padding: 40px 5px 0;
}
