header {
  border: 3px solid #004444;
  padding: 3px;
  text-align: center;
  background-image: url(Fractal1.bmp);
  background-size: cover;
  background-position: center;
}

body {
  background-color: #002233;
  margin: 30px;
  color: white;
}

h1 {
    font-family: 'Chilanka', cursive;
}

h3 {
  font-family: 'Chilanka', cursive;
}

#chooseSet {
  font-family: 'Catamaran', cursive;
  margin-top: 25px;
}

#chooseDate {
  font-family: 'Catamaran', cursive;
  margin-top: 25px;
}

#cardpic {
  border: 4px groove #ffffff;
}

#astronomyPic {
  width : 300px;
  border: 4px groove #ffffff;
  margin-bottom : 5px;
}

#pickDate {
  background: #ffffff;
  color: #000000;
}
