header {
  border: 3px solid #004444;
  padding: 3px;
  text-align: center;
  background-image: url(Fractal1.bmp);
  background-size: cover;
  background-position: center;
}

h3 {
  font-family: 'Chilanka', cursive;
}

body {
  background-color: #002222;
  margin: 30px;
  color: white;
}
